.experience {
    display: flex;
    flex-direction: column;
    margin-bottom: 8em;
}

.experience-card {
    display: flex;
    cursor: pointer;
    padding: 1em;
}

.experience-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.experience-card p {
    color: #fff;
}

.period {
    margin-right: 1em;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .experience-card {
        flex-direction: column;
    }
}